# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
obj/CES210-05.csproj.nuget.dgspec.json
obj/CES210-05.csproj.nuget.g.props
obj/CES210-05.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/CES210-05.AssemblyInfo.cs
obj/Debug/net6.0/CES210-05.AssemblyInfoInputs.cache
obj/Debug/net6.0/CES210-05.assets.cache
obj/Debug/net6.0/CES210-05.csproj.AssemblyReference.cache
obj/Debug/net6.0/CES210-05.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/CES210-05.GlobalUsings.g.cs
